/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
/* global style end */

/* common style start */
.w-custom {
  padding: 0px 250px;
}

.w-50 {
  width: 50%;
}
/* common style end */

/* header style start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  background: #043873;
}

.logo {
  margin-top: -25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  width: 170px;
  height: 50px;
  float: left;
  font-size: 18px;
  font-weight: 500;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.btn-login {
  height: 60px;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  background: #ffe492;
  color: #043873;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  margin-right: 10px;
  margin-top: -35px;
}

.btn-navbar {
  height: 60px;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  margin-top: -35px;
}
/* header style end */

/* banner style start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #043873;
  padding: 140px 0px 140px 250px;
}

.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.28px;
}

.banner-details {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

.btn-banner {
  color: #fff;
  background: #4f9cf9;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  letter-spacing: -0.36px;
  margin-top: 60px;
}

.banner-img {
  width: 785px;
  height: 441.56px;
  padding-right: 200px;
  border-radius: 300px;
}
/* banner style end */

/* project management style start */
.pm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0px 140px 250px;
}

.pm-title {
  color: #212529;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -1.44px;
}

.pm-details {
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

.btn-pm {
  color: #fff;
  background: #4f9cf9;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 20px 40px;
  margin-top: 60px;
  letter-spacing: -0.36px;
}

.pm-img {
  width: 785px;
  height: 441.56px;
  padding-right: 200px;
}
/* project management style end */
